.home {
  height: "100vh";
  width: "100vw";
  /* overflow-x: hidden; */
}

.navBarList {
  text-decoration: none;
  color: whitesmoke;
}

.navScroll {
  background-color: darkred !important;
  height: 10vh !important;
}

#navBar {
  width: 100vw;
  height: 14vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  transition-property: all;
  transform-origin: 0;
  transition-duration: 0.5s;
  transition-property: all;
  z-index: 100;
  /* border: 2px solid blue; */
}

.menuBar {
  display: none;
}



#navBar h2 {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px black;
  cursor: pointer;
  /* border: 2px solid brown */
}

#navBar h2 span {
  color: red;
  text-shadow: 2px 2px 4px black;
}

.navBarRight {
  /* position: absolute; */
  /* border: 2px solid green; */
  width: 45%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 30px;
}

.navBarRight li {
  cursor: pointer;
  margin: 0px 10px;
}

.navBarList:hover {
  color: darkred;
  transition: transform 0.1s ease-in-out;
}

.overlayNav{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayContent{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlayNav a{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlayNav a:hover{
  color: #f1f1f1;
}

.otherskillscrausal {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.homeContent {
  width: 80vw;
  position: relative;
  top: 40%;
  left: 10%;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 8px black;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  height: 100%;
  justify-items: center;
}

.aboutText {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 2rem;
}

.aboutText p {
  font-weight: bold;
}

.aboutText p span {
  color: darkred;
}

.aboutDescription {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutDescription img {
  width: 20%;
  margin-left: 10%;
}

.aboutContent h3 {
  font-size: 1.8rem;
}

.aboutContent p {
  width: 30vw;
  font-size: 1.2rem;
  margin: 5% 0;
}

#services {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.myservices {
  width: 100%;
  height: 100%;
}

.servicesText {
  height: 25%;
  width: 100%;
  justify-items: center;
  align-content: end;
  font-size: 1.7rem;
}

.servicesText p span {
  color: darkred;
}

.sercicesCards {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  background-color: rgb(53, 48, 48);
  border-radius: 15px;
  width: 305px;
  height: 350px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card:hover {
  background-color: darkred;
  font-size: 1.025rem;
  transition: transfrom 0.2s ease-out;

}

.card img {
  width: 40%;
  border: 3px solid white;
  border-radius: 50%;
}

.card h2 {
  padding: 15px 0;
}

.card p {
  text-align: center;
}

#skills {
  width: 100vw;
  height: 100vh;
}

.myskills {
  width: 100%;
  height: 100%;
}

.skillText {
  width: 100%;
  height: 25%;
  justify-items: center;
  align-content: end;
  font-size: 1.7rem;
}

.skillText p span {
  color: darkred;
}

.skillCard {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skillLeft {
  height: 80%;
  width: 40%;
  padding: 10px;
}

.skillLeft h2 {
  padding-bottom: 10px;
}

.skillLeft p {
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.skillRight {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1% 0px;
}

.upper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.lower {
  height: 8px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

.percentage {
  height: 100%;
  background-color: darkred;
}

#otherskills {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.otherSkillText {
  width: 100%;
  height: 25%;
  justify-items: center;
  align-content: end;
  font-size: 1.7rem;
}

.otherSkillText p span {
  color: darkred;
}

.otherSkillsCrausel {
  width: 100%;
  height: 75%;
  /* background-color: pink; */
  /* overflow: hidden; */
}

#contact {
  width: 100vw;
  height: 100vh;
}

.mycontact {
  width: 100%;
  height: 100%;
}

.contactText {
  width: 100%;
  height: 25%;
  justify-items: center;
  align-content: end;
  font-size: 1.7rem;
}

.contactText p span {
  color: darkred;
}

.contactDetails {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactLeft {
  height: 87%;
  width: 40%;
  padding: 20px;
  overflow-y: hidden;
}

.contactLeft p {
  font-size: 1.3rem;
  padding: 15px 0;
}

.contactLeft ul {
  list-style: none;
  font-size: 1.4rem;
}

.ContactRight {
  height: 80%;
  width: 40%;
  padding: 20px;
}

.ContactRight h2 {
  padding-bottom: 15px;
}

.contactInputs {
  height: 67%;
}

.inputName {
  width: 45%;
  padding: 10px;
  height: 40px;
  margin-right: 20px;
  font-size: 1.3rem;
  border: 2px solid grey;
  border-radius: 5px;
}

.inputSubject {
  width: 94%;
  height: 40px;
  padding: 10px;
  margin: 20px 0px;
  font-size: 1.3rem;
  border: 2px solid grey;
  border-radius: 5px;
}

.inputMessage {
  width: 94%;
  height: 80px;
  padding: 10px;
  font-size: 1.3rem;
  border: 2px solid grey;
  border-radius: 5px;
}

.customBtn {
  padding: 10px 20px;
  color: white;
  font-size: 1.25rem;
  background-color: darkred;
  border-radius: 5px;
  cursor: pointer;
}

.customBtn:hover {
  background-color: transparent;
  color: darkred;
  transition: 0.2s ease-in-out;
  border: 2px solid darkred;
}


.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
}

.carouselWrapper {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContent {
  display: flex;
  /* border: 1px solid wheat; */
  overflow-x: scroll;

  transition: transform 0.5s ease-in-out;
}

.carouselContent::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  padding: 0px 40px;
}

.carouselBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}


.carouselBtn.prev {
  left: 10px;
}

.carouselBtn.next {
  right: 10px;
}


@media screen and (max-width: 1024px) {
  #navBar {
    width: 100vw;
  }

  .navBarRight {
    margin-right: 5%;
  }

  .contactText {
    height: 20%;
  }

  .contactDetails {
    height: 75%;
  }

  .inputName {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .navBarRight {
    display: none;

  }

  #navBar {
    justify-content: space-between;
    /* margin: 0px 10%; */
    padding: 0px 10%;
  }

  .menuBar {
    display: block;
    width: 40px;
    margin-right: 0px;
    align-items: end;
  }

  #about {
    height: 150vh;
  }

  .aboutText {
    height: 15%;
    /* border: 3px solid pink; */
  }

  .aboutDescription {
    flex-direction: column;
  }

  .aboutDescription img {
    width: 40%;
    margin: 5%;
  }

  .aboutContent p {
    width: 80vw;
  }

  #services {
    height: 150vh;
  }

  .servicesText {
    height: 15%;
    align-content: center;
  }

  .sercicesCards {
    height: 80%;
    /* flex-direction: column; */
    align-items: space-between;
    flex-wrap: wrap;
  }

  #skills {
    height: 130vh;
  }

  .skillText {
    height: 15%;
  }

  .skillCard {
    height: 75%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .skillLeft,
  .skillRight {
    width: 80%;
  }

  .skillRight {
    padding: 0%;
  }

  #contact {
    height: 150vh;
  }

  .contactText {
    height: 15%;
  }

  .contactDetails {
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contactLeft,
  .ContactRight {
    width: 90%;
  }

  .customBtn {
    margin-top: 10px;
  }

}

@media screen and (max-width: 610px) {
  #services {
    height: 220vh;
  }

  .servicesText {
    height: 15%;
  }

  .sercicesCards {
    height: 80%;
  }

  .homeContent {
    font-size: 2rem;
  }
}


@media screen and (max-width: 465px) {
  .homeContent {
    /* border: 2px solid white; */
    font-size: 1.5rem;
    width: 100vw;
  }

  .overlayNav a{
    font-size: 20px;
  }
  .overlayNav .closebtn{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .aboutText {
    height: 15%;
    /* border: 3px solid pink; */
  }

  .aboutDescription {
    flex-direction: column;
  }

  .aboutDescription img {
    width: 60%;
    margin: 10%;
  }

  .aboutContent p {
    width: 80vw;
  }

  #services {
    height: 220vh;
  }

  .servicesText {
    height: 15%;
    align-content: center;
  }

  .sercicesCards {
    height: 80%;
    flex-direction: column;
    align-items: space-between;
  }

  #skills {
    height: 120vh;
  }

  .skillText {
    height: 15%;
  }

  .skillCard {
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .skillLeft,
  .skillRight {
    width: 90%;
  }

  .skillRight {
    padding: 0%;
  }

  .otherSkillText {
    /* border: 3px solid blue; */
    height: 20%;
    /* align-content: center; */
    align-items: end;

  }

  #contact {
    height: 170vh;
  }

  .contactText {
    height: 15%;
  }

  .contactDetails {
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contactLeft,
  .ContactRight {
    width: 90%;
  }


  .contactInputs input {
    width: 80%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .inputName {
    margin-right: 0;

  }

  .inputSubject {
    padding: 0px;
    margin: 0px 0px;

  }

  .inputMessage {
    padding: 0px;

  }
}